[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gnorm"]
	path = gnorm
	url = https://github.com/maryclare/gnorm
	shallow = true
	registered = true
